@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title{
  background-color: rgb(214, 214, 214);
  padding: 30px;
  font-family: "Inter Tight", sans-serif;
}
.title h1{
  color: rgb(0, 0, 0);
}